<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <div id="boolflix">

      <input type="text"
             placeholder="inserisci titolo"
             v-model="search"
             @keyup.enter="searchMovie">

      <button type="button"
              name="button"
              @click="searchMovie"
              >cerca
      </button>

      <div class="result-list">

        <ul>
          <li v-for="element in obj">
            <h3>title :</h3>
            <p>{{ element.title }}</p>
            <h3>original_title :</h3>
            <p>{{ element.original_title }}</p>
            <h3>original_language :</h3>
            <img v-if="language(element.original_language)" src="./img/en.png" alt="">
            <img v-else src="./img/it.png" alt="">
            <h3>vote_average :</h3>
            <i v-for="n in star(element.vote_average)"
                 class="fas fa-star"></i>
            <i v-for="n in 5 - star(element.vote_average)"
                 class="far fa-star"></i>
          </li>
        </ul>

      </div>

    </div>


    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
